body {
    background-color: rgb(236, 184, 86);
}

.container{
    margin-top: 50px;
    text-align:center;
    margin:auto;
}

h2{
    color:red;
}


#img {
    padding-top: 30px;
    height:200px;
    width: 200px;
}

#burger{
    background-color: white;
    width: 40%;
    height: 40px;
    
}

.devouredBurger {
    width: 50%;
    text-align: left;
    padding-left: 20px;
}

.row{
    padding-top: 30px;
}

#burgerText {

    margin-top: 20px;
    width : 30%;
    height:40px;
    
}

p1{

    padding-top: 20px;

}

