body {
    background-color: rgb(241, 178, 60);
}

.container{
    margin-top: 50px;
    text-align:center;
    margin:auto;
}

h2{
    color:red;
}

/* *{
padding:auto;
margin:auto;
text-align:center;
} */ 

#img {
    height:100px;
    width: 100px;
}

#burger{
    background-color: white;
    width: 40%;
    height: 40px;
    
}